body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.board-display {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  margin: 50px auto;
}

.cell {
  border: 1px solid #000;
}

.form {
  margin: 20px auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.grid {
  display: grid;
}

